[2019-06-13 05:34] j05u3 opened #1 "getApplicationContext returns a context with the wrong resources"
In many parts of my application we use the application context to get string resources. So after changing the locale: the string resources obtained from the application context were still loaded from the previous locale. Those strings were only correctly updated after re-opening the app.

I even tried using a ContextWrapper as mentioned [here](https://stackoverflow.com/a/46939076/2469583) but it d

[2019-06-13 10:52] gunhansancar commented on #1
Can you share more context to the problem? E.g Do you have DI provider and you initialise your string resource manager with the application context and provide that to your viewmodels? Or why are you using application context for strings? If you can share an example usage I can take a look at potential solution.

[2019-06-14 09:14] j05u3 commented on #1
I already fixed that app. But I do have another android app (which very probably will require the language changer feature) in which I use the application object injected with dagger to the viewmodels and sometimes I use that context to get resources for Toasts. I know I should be using livedata for displaying the Toast, but it seems like a lot more code to add for just a simple thing.

[2019-06-14 11:37] gunhansancar commented on #1
So I dig into the issue but It looks like application context is not properly updated after API 24. Even though it returns the correct locale, when it is time to get the resource it uses the initial context.

Only way I found working is when you update the language, you let to know the `StringManager` to update its context by using the `LocaleHelper.onAttach(context)` and providing the application

[2019-07-01 14:56] #1 closed, assigned to nobody

[2019-07-31 19:32] u84six opened #2 "Supertypes of the following classes cannot be resolved"
Hello,
I've got a requirement in my app (yes, I'm new to Android) to switch locales within the app and found your library. I've followed the setup instructions: added dependency to build.gradle, create app, and BaseActivity, added app name to android.manifest. But when I compile, I get the error:

"Supertypes of the following classes cannot be resolved. Please make sure you have the required depen

[2019-07-31 21:12] gunhansancar commented on #2
Hi there, `androidx.appcompat.app.AppCompatActivity` is the new support library package name. They announced it last year. So most probably your project is old. You can either update your project to use latest `androidx` support library, actually it is the same support library but they changed the namespaces, or you can use the `delegates` method that I described in the option 2.

**For your refer

[2019-07-31 22:50] u84six commented on #2
This is a new project, started from scratch with latest Android Studio. Do you mean that I need to use a higher level sdk? My target is 26

[2019-08-01 08:31] gunhansancar commented on #2
No, it is not about min SDK level.
When you are about to create a new project, in the template, it asks you to click `Use androidx artifacts`. I guess you have not selected that option. I suggest you to migrate `androidx` because it is the way forward, or create a new project with `androidx` option selected if you are at the beginning of your project.

See the screenshot below
![image](https://use

[2019-08-01 17:33] u84six commented on #2
I ended up just going with the delegate solution, only because I'm worried about migrating to androidx at this point. But thanks, everything is working!

[2019-08-01 17:33] #2 closed, assigned to nobody

[2019-09-04 22:06] ali991 opened #3 "On Android 9, a black screen appears when activity is recreated"

[2019-09-08 15:57] gunhansancar commented on #3
I tried with Pixel 2 API 28(Android 9.0) simulator and it is working fine.
On the activity recreate it restarts it and a black screen appears momentarily and then the new activity with the new locale appears.
What do you expect?

[2019-09-08 16:13] ali991 commented on #3
Yes exactly, Is there any solution to not show this black screen ?

[2019-09-08 19:26] gunhansancar commented on #3
You can check [this](https://gunhansancar.com/change-language-programmatically-in-android/) out. I describe in there how to update the resources manually if you want to avoid activity recreate. Basically, you have to find all the resources on the screen and update them manually.

But from this library's perspective, I cannot help you, like automatically find the resources and update them because t

[2019-09-16 11:32] Akshshr opened #4 "updateLocale(); from main activity doesnt work on Android 7 and below"
Calling updateLocale() from the mainActivity which is called its baseActivity, this doesn't seem to change the locale on Android 7 and 6.

Running this in loop shows no new locale was added or updated

`
Locale locale = this.getResources().getConfiguration().locale; //Always shows the same even after updating

String languageGW = //Language code derived from backend
String phoneLocale = locale.toL

[2019-09-16 12:33] gunhansancar commented on #4
After the locale is updated you have to refresh the resources on the screen. So just calling updateLocale is not enough.
You can let the library handle activity recreation or you can handle yourself.

This library/code is being used in multiple production apps and it works on all of the Android versions as of yet.

If you can provide a sample project, I can take a look it and tell you what step yo

[2019-09-16 12:52] gunhansancar commented on #3
I'm closing the issue as it is not possible to interfere the system behaviour from the library itself.

[2019-09-16 12:52] #3 closed, assigned to nobody

[2019-09-16 13:13] Akshshr commented on #4
@gunhansancar Yes calling a rebirth method for the entire app that cleans out the cache and rebuilds all activities after changing language. Still having no luck on it

I could perhaps build a demo project

[2019-09-16 13:40] Akshshr commented on #4
@gunhansancar Yup, seeing this not do anything on Android 6.0 for sure
 `
String languageGW = "sv-SE";
updateLocale(Locale.forLanguageTag(languageGW));`

Can this be verified on your end?

[2019-09-16 13:52] gunhansancar commented on #4
Do you have a folder called `values-sv-rSE` in your `main/res/` directory?

[2019-09-16 14:01] Akshshr commented on #4
I do have `values-sv`

[2019-09-16 14:12] gunhansancar commented on #4
It should work with `values-sv` folder as well.

I added Swedish to the example project and it works on the simulator on Android 7.0. Also tested on Android 5.0 it is still working. I can add another AVD for 6.0 but I'm sure the result would be the same.

[code]

[2019-09-23 13:36] ykrapiva opened #5 "Activities are created twice"
I've followed **(Option 1) Using base classes**

Now I see that my activities are created twice, because they are recreated in LocaleHelperDelegates.kt:41 - onResume().
So, I see a short blink each time I open another activity.
I don't understand if that's expected or I've missed something ?

[2019-09-28 17:46] codeItRalf commented on #4
I have a similar problem, trying figuring what it can be because it has worked on all versions. But now for some reason, it doesn't work on 7.0 - 7.1.
It still works on all other versions from 5.1 to 10.0.

My main device is 7.1 and just someday ago I can swear it worked and I cant remember I have done any changes which are very annoying. It doesn't update the text, but if I choose Arabic it chang

[2019-09-29 12:12] codeItRalf commented on #4
I had almost the same problem. But I knew it had worked before but for some reason, it stopped working for 7.0 -7.1.
I didn't remember that I had done any changes, it wasn't until I tried out the sample app and I updated the Gradle dependencies then I had the same problem.
I hope this helps for anyone else, change these dependencies to following.

implementation 'androidx.appcompat:appcompat:1.1.0

[2019-10-01 14:02] gunhansancar commented on #4
@codeItRalf Yes, it seems there is an issue for  [androidx.appcompat v1.1.0](https://stackoverflow.com/questions/55265834/change-locale-not-work-after-migrate-to-androidx)

[2019-10-17 06:56] kibotu commented on #5
activty.recreate happens during LocaleHelperActivityDelegateImpl#setLocale so it should be fine to only use that method when updating locale by user actions imho

not sure why it is necessary to update locale in onPause and onResume

any idea?

[2019-10-17 09:34] gunhansancar commented on #5
Hi @kibotu,

We have to save the active locale at the time `onPause` called because when the activity is added to backstack, there is noway to tell if that activity is using locale-a or locale-b. So when that activity is popped from the stack `onResume` is called and, if the locale is changed on the other activities, we can that way force to update the locale by checking if it is changed or not.

[2019-10-17 09:36] gunhansancar commented on #5
Hi @ykrapiva,

Could you tell me what android version you're using so that I can test and verify?

[2019-10-17 10:08] kibotu commented on #5
ah ok, i was thinking of a single activity application which only changes locales based on active user interaction.

but of course configuration changes can happen in other uses cases i see that now, thanks for explaining :) @gunhansancar

[2019-10-22 09:03] anburocky3 opened #6 "How to use this on Spinner & How to get Current choosen language?"
I'm using Kotlin and working on how it works: Here is my source code for somebody you are interested:

[code]
**This is my problem:**
Since i'm using spinner to select language, everytime i apply recreate gets called and thus experiencing a recreate loop. How to fix it?

[2019-10-22 09:26] anburocky3 commented on #6
After looking at your library, i did this and it works:

**1. Declaring the variables on Top:**
[code]
**2. Getting the current locale and assigning it to `lan` variable which we have created before.**
[code]

**3. Inside: onItemSelected method**
[code]
It's works but is it proper method to use? Or need any improvement? Also add to your readme so that people may get benefited by it.

[2019-10-22 09:57] gunhansancar commented on #6
Hi @anburocky3,

When you use the delegate method please use the following the update the locale:
`localeDelegate.setLocale(this, locale)`
Because otherwise the library cannot update the activities popped from the stack.

Yes, the readme is not saying that I will edit that now.

Also in your situation, what you're doing is correct -> adding a condition to stop to recursively call itself. However,

[2019-10-22 10:46] gunhansancar commented on #6
I also noticed you're using wrong delegate on your activity.
It should be `LocaleHelperActivityDelegateImpl`

I optimised your code a bit.
[code]

[2019-10-22 10:46] #6 closed, assigned to nobody

[2019-10-22 12:32] gunhansancar commented on #5
Closing the issue as I tested on API level 21, 24, 26, 28, 29 couldn't achieve double activity creation.

The blinking issue happens on and after API level 28. Most probably `activity.recreate()` implementation is changed.

[2019-10-22 12:32] #5 closed, assigned to nobody

[2019-11-18 12:17] valllllll2000 opened #7 "Activity result is lost when non default locale is set"
Hi I am using your library but have found this issue in my app when getting Activity results:
I have this sample app to reproduce:
https://github.com/akvo/locale-helper-test-result
Steps:
Device with Android 8.1.0, Motorola G5, Locale anything but French
First you can run the app, try adding photo, you will see image is set correctly after you take a picture
Then you can press the menu option, thi

[2019-11-18 23:23] gunhansancar commented on #7
Hello there,

I couldn't be able to replicate the problem that you have.
I don't have the actual Motorola G5 so I tested on the following emulators: Nexus 5 API 27(8.1) , Pixel 2 API 28(9.0), Nexus 5X API 25(7.1.1)

What I see is after I take the picture it is shown in the imageview in the center. Then changing the locale causes image to disappear as expected because the image or path is not saved

[2019-11-19 06:45] Eldho93 opened #8 "Language changes not persisted in different activities"
In Poco phone, MIUI 11 and Android OS version 9 the change in language is not reflecting in other activities. Do we need to set the language in every activity ? We are extending a base activity where we did implement all the Localehelper codes.

[2019-11-19 10:13] gunhansancar commented on #8
This could be related to the [this issue](https://github.com/zeugma-solutions/locale-helper-android/issues/4).

If you are using [androidx.appcompat v1.1.0](https://stackoverflow.com/questions/55265834/change-locale-not-work-after-migrate-to-androidx)  you may experience some problems.

Can you tell me which version of appcompat you're using?

[2019-11-19 10:19] Eldho93 commented on #8
We are using 'com.android.support:appcompat-v7:28.0.0'

[2019-11-19 10:21] gunhansancar commented on #8
Are you able to replicate the problem on Android 9.0 emulator? Because currently the example project works with the emulator itself for all the android version.

You might be missing something I just need to see some code to validate if there is something missing or if there is an issue.

[2019-11-21 14:37] jershell commented on #4
I have this problem too. I use the solution https://stackoverflow.com/a/58004553/3751051. It's working.

[2019-12-02 11:24] josephvijayandroiddev opened #9 "Any Chance to get Java version for this Library..?"

[2019-12-03 09:52] gunhansancar commented on #9
I don't have any intention to convert it to pure Java as I don't see any reason for it. However, you're welcome to fork and convert it as a separate library as it doesn't have any complicated code.

[2019-12-03 09:52] #9 closed, assigned to nobody

[2019-12-04 05:09] nuwanchamara commented on #4
It works. Thanks @jershell  for the answer. I Used [https://stackoverflow.com/a/58004553/3751051](https://stackoverflow.com/a/58004553/3751051) answer . You have to do is add the following code to your BaseActivity class

[code]

[2019-12-09 10:25] nuwanchamara commented on #4
the above solution is not working for `R.string.mystring` in XML (API level 29)

[2020-04-19 10:00] gunhansancar commented on #7
Closing due to inactivity.

[2020-04-19 10:00] #7 closed, assigned to nobody

[2020-04-19 15:06] #4 closed, assigned to nobody

[2020-04-19 19:15] gunhansancar commented on #8
Closing due to inactivity.

[2020-04-19 19:15] #8 closed, assigned to nobody

[2020-06-29 00:53] AhmedSaadShrief opened #12 "conflict with AppCompatDelegate.MODE_NIGHT_FOLLOW_SYSTEM"
when usings LocaleAwareApplication() instead of Application() ,
AppCompatDelegate.MODE_NIGHT_FOLLOW_SYSTEM  don't work correctly .

[2020-06-29 17:07] AlexSheva-mason commented on #12
I can confirm that as well, just checked.

[2020-06-30 12:08] bhargavsavasani opened #13 "Khmer Language Not Working"
This Library in Khmer (Cambodia) Language not Working

[2020-07-02 22:17] gunhansancar commented on #13
Hi @BhargavSavasani What do you mean by not working?

What did you try and what did you expect to happen?

You should provide more information so that we can better understand the issue.

[2020-07-06 13:33] bhargavsavasani commented on #13
@gunhansancar
Sorry for late replay
My Side Working Now

[2020-07-06 13:33] #13 closed, assigned to nobody

[2020-07-06 13:42] gunhansancar commented on #12
Released `v1.0.4` version with the with for the `uimode` issues.
In the sample project I added dark mode support and it seems working for all versions of Android so far.
Please check the new version and let me know if it fixes the issue

[2020-07-24 09:59] al-tush opened #15 "failed to change language for appcompat:1.2.0-rc02"
Failed to change language for version 1.2.0-rc02 (and rc01) of androidx.appcompat:appcompat.
It is important because androidx.appcompat:appcompat:1.1.0 have some major issues (like https://github.com/highcharts/highcharts-android/issues/115 ) with old Android versions.

[2020-07-24 10:36] al-tush commented on #15
Check https://github.com/akexorcist/Localization/tree/1.2.5 - it works ok

[2020-07-24 15:57] CodeIsmail opened #16 "Using Locale-helper-android in fragment"
I wondering how it will be possible to use this library in fragment

[2020-07-28 08:16] gunhansancar commented on #16
There is no special requirement to use in a fragment. Since the fragments are basically attached to the Activities, once the activity is restarted the fragments will also be restarted and will pick up the new language. I have to close this issue since this is not an issue. If you encounter a particular problem feel free to open a new ticket.

[2020-07-28 08:16] #16 closed, assigned to nobody

[2020-07-28 08:17] gunhansancar commented on #12
Closing due to no response. If the changes not helpful please create a new ticket.

[2020-07-28 08:26] gunhansancar commented on #15
Thanks for your report. I tried with `1.2.0-rc02` and it works.

Could you tell me what version of the library you're using?
What's the OS version of the device?

Please try to use version `1.0.4` as it should work with all `appcompat` versions.
But regardless the android team makes breaking changes in the appcompat library a lot so It is better to support just official releases instead of alpha,

[2020-07-28 08:40] al-tush commented on #15
I check it on 1.0.4 on Android 9 (API 28) and the bug reproduces only when app starts.
It's ok to wait stable appcompat version and then retest the bug. Thank you!

[2020-07-28 16:42] gunhansancar commented on #15
What exactly not working on app start? Did you apply all of the necessary steps? It should be working fine.

[2020-07-28 21:15] nishantBabaria opened #17 "Multiple/Nested base activity"
hi
it's a good example for a  local language

but why use multiple/nested base activity
LocaleAwareCompatActivity > BaseActivity > MainActivity
I think it good approach that keeps one base activity but nested base activity cause memory /performance issue

please correct me if I'm wrong
thanks

[2020-07-29 12:46] al-tush commented on #15
Here is a test: https://github.com/altush1983/locale-helper-android-test
Test case is:
1. run app and press "Switch to Russian" (it works good)
2. close app and restart it. Language is english (it is wrong)

It works ok if replace
    implementation 'androidx.appcompat:appcompat:1.2.0-rc02'
to
    implementation 'androidx.appcompat:appcompat:1.1.0'

Test it on emulator:
[code]

[2020-07-29 15:29] gunhansancar commented on #17
Hi,

Inheritance would not cause any memory/performance problems at all.

You can also opt-out to not use `LocaleAwareCompatActivity` and implement the delegate methods by yourself. For instance if you have another base activity then it is valid case to implement delegate methods but other than that there is no performance issue whatsoever.

[2020-07-29 16:10] gunhansancar commented on #15
Yes, you're right. 1.2.0-rc02 causing a lot of problems.
I also checked out the library you shared I noticed the same problem.

Also I noticed that when you don't use `LocaleAwareApplication` it works somehow correctly but I'm sure it will break for some other Android API Level or some configuration changes.

[2020-07-29 16:20] al-tush commented on #15
Looks like https://github.com/akexorcist/Localization/tree/1.2.5 works ok: https://github.com/altush1983/locale-helper-android-test/commit/4561e7f74342c5ccc3ea42947c87df53bdeb9ccf (I just re-tested it)

[2020-07-29 19:15] gunhansancar commented on #15
I pulled the latest changes in your test repo and it doesn't work after the first run.

[2020-08-13 09:08] #17 closed, assigned to nobody

[2020-08-13 21:49] KORuL commented on #15
I have same problem? please help

[2020-08-14 20:19] gunhansancar commented on #15
Let's focus on stable releases

[2020-08-16 07:46] thereisonlywe commented on #15
Same problem applies to appcompat stable release as well. When the app is first created, language setting is retrieved but the views can't benefit from it. Resuming after home button click doesn't affect the situation, but restarting activity after exiting the app with the back key solves it. Triggering a rebirth also does the job.

[2020-08-16 16:57] gunhansancar commented on #15
@thereisonlywe I don't observe it on the example app that is shared on this repo. Which stable version do you use? And can you test with the example app?

[2020-08-17 20:03] beeshop-daniel commented on #15
appcompat 1.2.0 released. but it's not working properly with the helper.

[2020-08-18 14:46] gunhansancar commented on #15
Working on a fix which would fix any issues for `1.2.0` and later versions.

[2020-08-19 12:11] gunhansancar commented on #15
Published a version `1.1.0-beta1` I tried with different Android API levels and seems working fine but please let me know if you have any issues.
- Removed `LocaleAwareApplication` class
- Removed `LocaleHelperApplicationDelegate` class
- Updated `androidx.appcompat:appcompat` to `1.2.0`

[2020-08-19 12:22] beeshop-daniel commented on #15
Seems working fine after the upgrade. thanks for the quick update.

[2020-08-19 12:26] beeshop-daniel commented on #15
still has issues. application context didn't get changed after switching locale. i also have issues switching between zh_CN and zh_TW. my app has en, zh_cn, zh_tw, only en and zh_cn work after upgrading.

[2020-08-19 12:32] gunhansancar commented on #15
@beeshop-daniel can you share a sample app so that I can work on it to solve the problem?

[2020-08-19 12:33] beeshop-daniel commented on #15
i will try to create a quick sample app for u.

[2020-08-20 09:13] alexeyvasilyev commented on #15
Works perfectly on Android 11 Beta with `appcompat 1.2.0` and `1.1.0-beta1`

[2020-09-03 08:19] AleksandrVakhtin opened #19 "so many problem with activity.recreate"
1. Black blinking because of 3 times recreating
2. break many logic because code expect maximum 1 recreate
3. Not work for me on android 7 and less

is there diffrent way to set locale?
why is so simple task so hard to solve?

[2020-09-08 20:40] shiSHARK commented on #15
Hey mates. I also have this problem and I also found this sample to work just fine - https://josipsalkovic.com/2020/05/01/changing-locale-uimode-runtime-android/

What I think is the key here is these lines of code:

this method is simplified but works perfectly

[code]

[2020-09-08 20:54] shiSHARK commented on #19
Here you can probably find some solutions or ideas to your problem.

[2020-09-08 20:56] gunhansancar commented on #15
@shiSHARK There are a lot of combinations going on like Android version, appcompat version etc. Have you really tested with API level 16 to 29 and with different app compat versions?

Please also check it out `1.1.0-beta1` of `LocaleHelper`

[2020-09-09 05:16] shiSHARK commented on #15
I have tested on 24 to 29 - these are the version we use and also only on androidx.appcompat:appcompat:1.2.0
But i believe that will work for most, if not all people.

[2020-09-12 15:47] alexeyvasilyev commented on #15
locale-helper-android: 1.1.0-beta1
androidX AppCompat: 1.2.0

Android 11 - works.
Android 10 -  **does not work**.
Android 9 - works.
Android 8.1 - works.
Android 7.1.1 - **does not work** (tested on two different Google Nexus devices)
Android 6.0.1 - works.
Android 5.1.1 - works.

[2020-09-14 07:58] gunhansancar commented on #19
Could you show that how it is created 3 times?
Which version do you use?

[2020-09-21 17:42] gunhansancar commented on #15
Published a version `1.1.0-beta2` which works in all versions also support `Dark Mode` with `androidx.appcompat` `1.2.0` is used.

- Reintroduced the `LocaleAwareApplication` or `LocaleHelperApplicationDelegate` as it is mandatory to make some versions to work
- Instead of using `LocaleAwareCompatActivity` if you're using `LocaleHelperActivityDelegate` directly please also override the following m

[2020-09-23 13:56] WeaponMan opened #21 "Doesnt work on Android 10"
Sadly it doesnt work on Android 10 Nokia 6.1.
First language change is succesfull, but if you exit the app an launch it again it doesnt stay in that language and after that you can change the language to another but it stays in the locale of your device.

Maybe this is problem with MultiDex?

[2020-09-24 11:48] thubalek opened #22 "How to switch back to system default locales?"
Hi,

I'm considering to use this library in my projects but I didn't find way how to switch back to original system settings? What value should be set to `updateLocale` method if I don't want to override system settings anymore?

Rationale: users may try this feature but find that localization to any language from the list does not fit them. So they want to return back to original state before the

[2020-09-24 12:08] thubalek opened #23 "Locale helper for non Activity contexts"
My app is using notifications fired from services so settings set to `LocaleHelper` should be somehow propagated to `Service`'s too.

Any idea?

[2020-09-25 10:17] gunhansancar commented on #22
Hi @thubalek,

It is pretty rare scenario but it is easy to handle. Because if you give the user option to change language on the fly you present them let say x amount of languages. When they select a language they can always select their native language from the list again.

So if you want to mark the system language for the user for instance, you can do that easily.
When the app first loads, the

[2020-09-25 10:33] gunhansancar commented on #23
In your `Service` override the `attachBaseContext` method

[code]

After that point, you will get the updated resources in your `Service`

[2020-09-25 10:33] #23 closed, assigned to nobody

[2020-09-25 10:55] gunhansancar commented on #21
Hi @WeaponMan , Could you try version `1.1.0` as it works for all versions of android if you use `appcompat` version `1.2.0`

[2020-09-25 10:55] gunhansancar commented on #19
Closing due to no activity, as after the language change the activity is created only one time. It can be easily verifiable while debugging.

[2020-09-25 10:55] #19 closed, assigned to nobody

[2020-09-25 10:56] gunhansancar commented on #21
Please reopen if the version `1.1.0` doesn't work on your case.

[2020-09-25 10:56] #21 closed, assigned to nobody

[2020-09-25 10:57] gunhansancar commented on #15
Released `1.1.0` which seems to work for all version when using `appcompat` `1.2.0`. If you encounter any issues please reopen.

[2020-09-25 10:57] #15 closed, assigned to nobody

[2020-09-25 11:53] thubalek commented on #22
Thanks a lot.

[2020-09-25 12:53] Dobrotin opened #24 "Override ApplicationContext."
"getApplicationContext" return ContextImpl instead Application.
Cause: context.createConfigurationContext(configuration) from LocaleHelper.

English is not my native language, so please be kind to my mistakes.

[2020-09-25 14:09] thubalek commented on #22
BTW: Not sure whether this will be sufficient if user changed locales in phone settings. Is `Application` recreated then?

[2020-09-25 15:09] gunhansancar commented on #22
I haven't tested that but I would assume that `onConfigurationChange` would be triggered on the Application class.
But why would anyone change their device's language? IMHO you're focusing on something insignificant.

It seems to me that you need some sort of on/off switch for the `LocaleHelper`

[2020-09-25 15:10] gunhansancar commented on #24
Hi, In which version did you get this error?

[2020-09-25 15:15] Dobrotin commented on #24
Hi! Version - 1.1.0.
The problem is with the conversion of ApplicationContext to ContextImpl, as the context.createConfigurationContext (configuration) method is used.

[2020-09-25 15:18] gunhansancar commented on #24
What android version you're using and at what point did you get this? I tested the library on all versions. It is really interesting.

[2020-09-25 15:23] Dobrotin commented on #24
Android 10.
Try to get your instance of Application from ApplicationContext in the Activity code (example: applicationContext as MyApplication).

[2020-09-25 16:41] #24 closed, assigned to nobody

[2020-09-25 16:58] Dobrotin commented on #24
Thx! )

[2020-09-25 17:46] Dobrotin opened #25 "Not working GoogleMap (MapView)."
MapView crashes on initialization: "The provided context is not an application context".
If comment out the line of LocaleAwareApplication: getApplicationContext() - MapView work fine.

[2020-09-25 18:11] gunhansancar commented on #24
Released 1.1.1 to address this issue.

[2020-09-25 18:14] gunhansancar commented on #25
Could be related to #24 Please try with version `1.1.1`

[2020-09-25 23:16] Dobrotin commented on #25
Yes, I immediately took the current version.
The problem is present in it (1.1.1).

[2020-09-26 08:09] mfori commented on #25
same here

[2020-09-26 08:10] gunhansancar commented on #25
Why would you give application context to mapview? It is supposed to be the activity context.
Could you share your initialization example?

[2020-09-26 08:12] mfori commented on #25
for me, it occurs at:
`mapView.onCreate(savedInstanceState);`
So i dont pass any context, mapview is inflated from layout

[2020-09-26 08:16] gunhansancar commented on #25
Are you using this one `https://developers.google.com/maps/documentation/android-sdk/start` Map Fragment? Or something else?

[2020-09-26 08:16] mfori commented on #25
I am also fancing this issue on start app if I use LocaleAwareApplication. If I use just android.app.Application it works and also localization works with only extending all activities.

`2020-09-26 10:13:44.552 9215-9238/cz.app.name E/AndroidRuntime: FATAL EXCEPTION: Thread-2
    Process: cz.app.name, PID: 9215
    java.lang.ClassCastException: android.app.ContextImpl cannot be cast to android.ap

[2020-09-26 08:17] gunhansancar commented on #25
Yes, for some versions of Android API it works without `LocaleAwareApplication` but for some other versions the localisation doesn't work. So it is needed to cover all Android API levels. Thus, it is better to find the root cause of this issue.

[2020-09-26 08:18] mfori commented on #25
No, in this case, I am using MapView inside fragment: https://developers.google.com/android/reference/com/google/android/gms/maps/MapView

[2020-09-26 08:38] gunhansancar commented on #25
For the time being my suggestion is to continue without the `LocaleAwareApplication` I aim to fix the issue later on today 🤞

[2020-09-28 12:42] sergiooreh opened #26 "Does it work with with fragments(PreferenceFragmentCompat)?"

[2020-09-28 14:18] #25 closed, assigned to nobody

[2020-09-28 14:26] gunhansancar commented on #25
Released `1.1.2` also please use `LocaleAwareApplication` or its delegate in your custom `Application` class.

[2020-09-28 14:29] gunhansancar commented on #26
Hey @sergiooreh it should work with anything, can you describe your use case? Or at least give it a try.

[2020-09-30 14:08] Tameki opened #28 "Application context resources not localized after a runtime locale change"
[code]

Could you provide any information on this issue?

[2020-09-30 14:13] Tameki commented on #28
I assume that this issue refers to #24 issue fix?

[2020-09-30 14:22] Tameki commented on #28
Or we are gonna need to use a workaround from #1 issue?

[2020-10-01 11:40] gunhansancar commented on #28
Hi @Tameki, I'm looking into it also I wonder what's the reason you use `applicationContext` inside the `Activity` ?

[2020-10-01 12:37] Tameki commented on #28
Hi @gunhansancar, this is just for the case of using `applicationContext` anywhere in application like `StringResourcesManager` as pointed out in issue #1

[2020-10-01 12:48] gunhansancar commented on #28
The problem about `Application` is that it is already a `ContextWrapper` implementation. And if we create a new context using `createConfigurationContext` it is no longer a subclass of `Application`.

This is no problem if you only need `Application` as a `Context` however in issue #24 the application is being used as custom application using a typecast but obviously it is no longer a subclass of

[2020-10-01 13:00] Tameki commented on #28
Ok, got it :) Thanks for response) I assume that It would be cool to add a note about using applicationContext to get resources in README.md to decrease miss understanding or link to this issue)

[2020-10-01 13:21] #28 closed, assigned to nobody

[2020-10-01 14:41] gunhansancar commented on #28
When I have more time, I'll try to add a listener approach to notify changes to the static classes.

If you're using Dagger, you could provide Activity context to your `resourcemanager` using custom scopes. That way it can be consumed in `ViewModel` without leaking the context. However, it is more about the dagger modules/components.

[2020-10-01 19:13] dzboot02 commented on #22
You can pass the locale below to achieve what you want:

`ConfigurationCompat.getLocales(Resources.getSystem().configuration)[0]`

[2020-10-01 20:15] dzboot02 opened #29 "Problem setting theme"
[code]

Setting the theme this way won't work. Theme needs to be set set before `localeDelegate.onCreate(this)`.

[2020-10-07 14:49] gunhansancar commented on #29
How about you set the theme before `super.onCreate` is called i.e.:
[code]
In my tests, it works this way

[2020-10-07 14:50] gunhansancar commented on #26
Closing due to no activity. Feel free to reopen with description please.

[2020-10-07 14:50] #26 closed, assigned to nobody

[2020-10-07 18:37] dzboot02 commented on #29
@gunhansancar Yes I know, I mentioned this in my original question. I mean this should be taken care in the library, or at least mention it in the docs.

[2020-10-07 19:41] gunhansancar commented on #29
I need to check if it affects any version in any configuration to change the order of the code. Then I'll release an update for that. Thanks for your notice.

[2020-10-19 12:38] thubalek commented on #22
@gunhansancar yeah, that would be great.

[2020-10-19 12:41] thubalek commented on #22
I'm doing it sometimes. My mother tongue is Czech but I sometimes need screenshot in English to share it with people don't speak Czech. I switch locale to English and back when communication finished.

[2020-10-19 12:53] gunhansancar commented on #22
From the library I can store the initial device language at the startup. And then I think you can use it to set back to device original language using e.g.
`LocaleHelper.getSystemLanguage()` would that be useful in your case?

[2020-10-22 12:22] momersaleem opened #30 "Getting string resources using application context returns string resource in previously selected language"
Hello,

I have Arabic and English string resources. On app start, default language is English and accessing a string resource using application context returns English string. This is how accessing string resource using AC.
applicationContext.resources.getString(R.string.economic_department)

Now changing app language to Arabic using the following code and restart launcher activity again from frag

[2020-10-27 10:23] gunhansancar commented on #30
`Application context` is not updated even after you restart your activity.
The best approach is to use `Activity context` which is always updated with latest Locale.

This is not about how this library works. It is how Android works.

If you really want to use applicationContext then you have to wrap it every time before using it:

`LocaleHelper.onAttach(applicationContext)` which returns an updat

[2020-10-27 10:23] #30 closed, assigned to nobody

[2020-11-04 11:37] JulienDev opened #31 "Usage in BroadcastReceiver"
Hello,

I'd like to know if there is a way to make it working inside BroadcastReceiver. I display notifications from a custom BroadcastReceiver but the locale is wrong. The content are not translated following the user settings.

For now I'm using `context.applicationContext` in the onReceive() function but it only works when the app has been killed after language selection.

Thanks

[2020-11-04 16:56] gunhansancar commented on #31
You can wrap any context object using
`LocaleHelper.onAttach(context)` which returns Context with updated resources.
Then you can use it as you like.

[2020-11-04 17:40] JulienDev commented on #31
Ok I got it, thank you :)

[2020-11-04 17:40] #31 closed, assigned to nobody

[2020-11-04 17:52] JulienDev opened #32 "Daylight theme is not updated when app is launched"
Hello, me again :)

I've noticed that by using the library, when the app is already launched and the the dark theme is switched on or off, the app keep his current theme until the app killed and launched again. Do you know a way to "refresh" the UI when the setting is changed?

In the meantime I'd like to thank you a lot for your awesome library that helps a lot !

[2020-11-05 13:29] gunhansancar commented on #32
In the demo application, I have added the Light-Dark theme and it works when you switch the theme without any problems. Can you check that please if your case is the same?

[2020-11-05 13:42] JulienDev commented on #32
I've just tried the sample app and I can confirm it suffers the same issue. Like me, you are settings `AppCompatDelegate.setDefaultNightMode(MODE_NIGHT_FOLLOW_SYSTEM)` when App.onCreate() is called.

When the dark mode is changed on the system wide, and the app is launched, the activity theme is not updated. When I don't use the library (replace LocaleAwareApplication by Application) it's working

[2020-11-05 13:48] gunhansancar commented on #32
Just for the last sentence `When I don't use the library (replace LocaleAwareApplication by Activity) it's working well.` what do you mean? LocaleAwareApplication by Activity? You mean by Application?

[2020-11-05 13:49] JulienDev commented on #32
Yep sorry (I've updated my comment)

[2020-11-05 14:04] gunhansancar commented on #32
So the case is that the app is running and backgrounded, then you go the system settings and make the theme Dark there, and you restore the app from the recents, and the app couldn't pick up the new configuration change ?

[2020-11-05 14:12] JulienDev commented on #32
I've recorded two gifs to make it easier to understand :)

The first one use your library :
![with_library](https://user-images.githubusercontent.com/71345/98251605-307e0080-1f79-11eb-8c48-efb2872204f8.gif)

The second one doesn't use your library :
![without_library](https://user-images.githubusercontent.com/71345/98251641-3ecc1c80-1f79-11eb-8c54-2a6552c0825e.gif)

[2020-11-05 14:27] gunhansancar commented on #32
How the language is changing without using the library in the second gif :) ?

OK, I will address the issue soon. Also feel free to send a PR if you know the solution already.

[2020-11-05 14:30] JulienDev commented on #32
The language is not changing without the library haha, that was just to illustrate how it works without the library ^^

I'd love to help you by opening a PR but I don't have enough knowledges on the subject to fix it :/

[2020-11-12 06:19] creatyfco opened #34 "not load created string file"
hi, I'm pretty new with this locale thing

I already try a setup with option 1 and option 2, but still no luck
also already make a string dir
![image](https://user-images.githubusercontent.com/70185206/98903138-90c8f100-24e9-11eb-920a-f2e73931130e.png)

but when I execute `updateLocale(Locales.Indonesia)` and check with `currentLocale` it returns `in_ID`, but string not loaded

![image](https://us

[2020-11-12 09:45] creatyfco commented on #34
problem found!
I've declared `resConfigs` in `US `and `en `only

hope helps another one that got the same problem

[2020-11-12 09:45] #34 closed, assigned to nobody

[2020-12-15 11:01] gunhansancar commented on #22
Added `systemLocale` to the `LocaleHelper` in the version `1.1.3` so that yo ucan switch back to the original locale afterwards

[2020-12-15 11:01] #22 closed, assigned to nobody

[2020-12-15 12:15] #29 closed, assigned to nobody

[2020-12-25 06:26] Alireza-Farahani commented on #12
Using version 1.1.4, I face the same issue.

[2020-12-25 09:06] gunhansancar commented on #12
@Alireza-Farahani did you try the sample project, as it works there?

[2020-12-25 11:10] Alireza-Farahani commented on #12
@gunhansancar I tried the sample and I can manually toggle dark/light with success but enabling dark mode through system settings doesn't affect the sample.

[2020-12-25 12:23] gunhansancar commented on #12
This could be related to #32 So let's continue on that ticket

[2020-12-25 12:23] #12 closed, assigned to nobody

[2021-03-24 17:16] c0dehunter commented on #32
I can confirm this issue. Actually I was using another library for Locale changing and it has the same problem: https://github.com/franmontiel/LocaleChanger/issues/20

[2021-04-20 02:52] YYwishp opened #39 "JCenter will be completely shut down February 1, 2022"
JCenter will be completely shut down February 1, 2022 ，please update to Maven Central

[2021-05-15 19:57] tgvoskuilen opened #40 "Requests: Ability to clear selection (switch back to system default) and avoid repeat updates"
Hey, this is a really useful library, thanks for making it! I have a couple of feature requests:

1. A way to "un-set" a custom locale selection (to revert back to the system default) and query whether a custom value has been set or not. This could just query/clear the settings that it saved in SharedPreferences. Just setting it back to LocaleHelper.systemLocale doesn't quite work because it doesn

[2021-05-26 13:33] gunhansancar commented on #40
Hi @tgvoskuilen thanks for creating an issue.

1. I was thinking setting the Locale to system default would be sufficient. But `LocaleHelper.systemLocale` is only loaded at the startup. So if you manually change your device settings while the app is running, it won't be updated. However, `onConfigurationChanged` or something similar would be called. Hmm then it won't respect that. Ok, it makes sen

[2021-05-26 13:41] gunhansancar commented on #40
The number 1 issue is really very rare use case I must say though.

[2021-05-26 13:42] gunhansancar commented on #39
@YYwishp Thank you for letting me know. I will try to move it directly to Maven Central in the next versions. I hope the transition would be easy.

[2021-05-26 13:45] tgvoskuilen commented on #40
I have a fork of the repo where I have made these changes (and updated the example app to show how to recreate issue #2). I will submit a PR with that so you can have a look.

[2021-05-26 13:51] tgvoskuilen commented on #40
Added PR #41 . Note that the issue with the blinking screen is not just one blink - it repeatedly flashes or just hangs and the app is unusable because the recreate is triggered by the radio group listener every time onCreate is called.

[2021-05-26 19:49] gunhansancar commented on #40
@tgvoskuilen Thanks, I will have a look. Though, it could be about how you implemented that update logic. I'll let you know the issue.

[2021-06-14 14:23] yoobi opened #42 "LocaleAwareCompatActivity.java line 21"
Hello, I'm using your nice library on my application but some of my user are getting issue, I couldn't reproduce it :/

[code]

[code]

[code]

I'm using `class MainActivity : LocaleAwareCompatActivity()` and `class MyApplication: LocaleAwareApplication()`

at first I though it was because of my Fragment so I changed it to a 0-arg constructor but I still get the issue.

[2021-06-18 13:17] gunhansancar commented on #42
This looks like Proguard issue but I am not sure. Maybe the issue is still happening on some of your users who has not updated to the latest version of your app? Also, may I ask why would you have arguments on Fragment constructor?

[2021-06-18 13:19] gunhansancar commented on #42
Also, can you give more information e.g. what version of android what kind of device? How is this triggered?

[2021-06-18 13:33] yoobi commented on #42
Hello !

The argument in Fragment constructor was simple the layout `Fragment(R.layout.myFragment)` so nothing fancy.

Sure thing !
Phone model : Galaxy S7 edge
Android version: 8.0.0
As for what triggered it I don't know, my guess is the application must have gone in background and when going back to it to recreate Fragment it has issue. There is a DialogFragment in some views so it might be rela

[2021-06-28 17:51] altagir commented on #39
Any progress?

[2021-08-03 11:45] JitainSharma opened #43 "App crash after adding getApplicationContext() method"
Android OS 11
Using (Option 2) Using delegates

After setup all the steps the exception is throw by the application (Crash log attached at the end).

This is happening after adding the below method to the base application class:
[code]

If this method is removed, app loads fine without any exception, but when the language from the Android Settings is changed, it doesn't reflect to the app. Have to

[2021-11-16 06:13] khan878 commented on #42
**Hello,
The same issue happening to me, It happens in Android 8 or above.
Please solve this.**
_Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{..MainActivity}: androidx.fragment.app.Fragment$b: Unable to instantiate fragment g.a.a.l.a.e0: could not find Fragment constructor_

[2021-11-17 09:09] yoobi commented on #42
@AbuzarAhmadi It was an error in my code, I think it should be the same for you so check your Fragment constructor

[2021-12-02 09:09] thubalek commented on #32
I can confirm this issue two.

[2021-12-02 14:05] thubalek commented on #32
@gunhansancar

I found this comment in `AppCompatDelegateImpl.java`, method `public Context attachBaseContext2(@NonNull final Context baseContext)`:

[code]

As you use `createConfigurationContext` in `LocaleHelper.updateContextResources` I'm afraid it can be root cause of the problem.

[2021-12-02 14:18] thubalek commented on #32
BTW: I implemented super stupid fix. In class `LocaleHelperAppCompatDelegate` method `attachBaseContext2` looks like this:

[code]

I don't think the fix is right (it looks stupid to me) but I may fix the problem. And introduce new-hard-to-find bugs.

[2021-12-06 09:25] thubalek commented on #32
Hmm, fix above is not correct solution.

[2021-12-13 13:20] yoobi commented on #39
Hello, any news ? February is closing in :)

[2021-12-21 09:09] #42 closed, assigned to nobody

[2021-12-21 15:46] JulienDev commented on #32
That's a crazy issue... If you know a library that handle correctly this theme change let me know :)

[2021-12-23 12:27] Berki2021 opened #47 "Question: How are you accessing package private "AppCompatDelegate""
For me, when I try to extend from "AppCompatDelegate" it says: Cannot access '<init>': it is package-private in 'AppCompatDelegate'

[2021-12-23 12:29] Berki2021 commented on #39
Any progress??

[2021-12-23 15:14] gunhansancar commented on #39
I published here on main maven repository
https://repo1.maven.org/maven2/com/zeugmasolutions/localehelper/locale-helper-android/
Could you check that if that works?

[2021-12-23 15:32] Berki2021 commented on #39
Yes it does, although you could have mentioned that you bumped up the version from 1.1.4 to 1.5.1 :)

[2021-12-23 16:00] gunhansancar commented on #39
README file will be updated soon

[2021-12-23 16:24] yoobi commented on #39
Thank you for the update ! Is there any change in the lib ? Is it just the change to maven central ?

[2021-12-23 16:28] gunhansancar commented on #39
@yoobi It is still the same version. I bumped the version just to separate them easily from old and new repos.
Just one difference is that I bumped the dependency versions in the lib e.g. `appcompat` version to the latest.

I will try to address the other issues then make a new version.
So closing this issue.
If you have any concerns feel free to create a new issue.

[2021-12-23 16:28] #39 closed, assigned to nobody

[2022-02-27 08:16] kldMohammed opened #48 "Some hints on TextInputLayout not translated"
Used version 1.1.4 I have some text input layout with hints and when changing locale all screens got translated except these hints. and the hint appears in just one language for example in en even I changed the language from en to ar to en to ar over and over.

it translated when I left and come back to screen.

[2022-06-02 07:29] samansamadi opened #49 "Bottom Navigation Item's Title not correct"
![Screenshot](https://user-images.githubusercontent.com/76772343/171576896-a35f3e35-b612-4b32-83a1-54b47f8ad3ab.jpeg)
There is something happening in background which messes with android's bottom navigation bar. As you can see the text goes to the top of the icon, something that hasn't happened before I started using this library.
I use targetSdkVersion 31 and minSdkVersion 23.

Looking forward to

[2022-07-20 07:38] Ghousepasha-ios commented on #48
@kldMohammed
Any solution for this?

[2022-07-21 07:19] kldMohammed commented on #48
@Ghousepasha-ios  no not yet it needs the screen (fragment) to be restarted and lib did not do that, if you go to another fragment and come back it will be translated

[2022-10-11 07:11] MostafaAmerAts opened #50 "Calling updateLocale causes crash"
I'm calling updateLocale from locale aware child activity it shows black screen and it crash:

`E/ActivityInjector: get life cycle exception
    java.lang.ClassCastException: android.os.BinderProxy cannot be cast to android.app.servertransaction.ClientTransaction
        at android.app.ActivityInjector.checkAccessControl(ActivityInjector.java:24)
        at android.app.Activity.onResume(Activity.j